// Colors
$color-white: #ffffff;
$color-lime: lime;
$color-red: red;
$color-yellow: yellow;
$color-whitesmoke: whitesmoke;

// Padding
$padding-8: 8px;
$padding-16: 16px;
$padding-32: 32px;

// Font Sizes
$font-size-22: 22px;
$font-size-32: 32px;

// Other Common Styles
$border-radius-4: 4px;
$border-radius-50: 50%;
$border-1: 1px solid #ccc;
$border-none: none;
$background-gradient: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(0, 0, 61) 29%, rgb(0, 0, 64) 76%, rgb(1, 0, 37) 100%);
